/* Headerin perusasetukset */
.header {
    width: 100vw;
    background-color: #f4f4f4;
    color: #333; 
    padding: 0.5rem; 
    text-align: left;
    font-size: 1.0rem; 
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}
